html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
  min-height: 100%;
  width: 100%;
  min-width: 300px;
  padding: 1em;
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font: normal 16px/1.375 sans-serif;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
p {
  line-height: 2em;
}
}
ul {
  list-style: none;
  padding: 0;
  line-height: 2em;
  margin: 1px;
}

/* style list item containers */
#inventory-list {
  border: 3px dotted gray;
  margin: 3px 0 3px 3px;
  padding: 3px;
  display: block;
  min-width: 150px;
  float: left;
}
#inventory-list ul {
  list-style: none;
}

#shopping-list {
  border: 3px solid gray;
  margin: 3px;
  padding: 3px;
  display: block;
  min-width: 150px;
  max-width: 200px;
  float: left;
}
#shopping-list ul {
  list-style: none;
}
/* #shopping-list li {
  color: green;
} */

#in-cart {
  border: 3px solid green;
  margin: 3px;
  padding: 3px;
  display: block;
  min-width: 150px;
  max-width: 200px;
  float: right;
}
#in-cart ul {
  list-style: none;
}
#in-cart li {
  color: blue;
}
/* create larger containers to manage floats */
#editable-pick-list {
  border: 1px dotted black;
  margin: 3px 0 3px 3px;
  padding: 3px;
  display: block;
  width: 180px;
  float: left;
}
#move-to-cart {
  border: 1px dotted black;
  margin: 3px 3px 3px 0;
  padding: 3px;
  display: block;
  width: 400px;
  float: right;
}
/* end style list item containers */

/* style inventory and shopping list item styles */
.item-selected {
  color: rgba(196, 196, 196, 1);
}

.store-area-1 {
  border-top: 5px solid green;
  margin-top: 3px;
  margin-bottom: 10px;
}
.store-area-1 li {
  border-bottom: 2px dotted green;
}

.store-area-2 {
  border-top: 5px solid brown;
  margin-top: 3px;
  margin-bottom: 10px;
}
.store-area-2 li {
    border-bottom: 2px dotted brown;
}

.store-area-3 {
  border-top: 5px solid blue;
  margin-top: 3px;
  margin-bottom: 10px;
}
.store-area-3 li {
  border-bottom: 2px dotted blue;
}
