html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
  min-height: 100%;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font: normal 16px/1.375 sans-serif;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
}

p {
  line-height: 2em;
}

.caption {
  font-size: .9em;
  line-height: 1em;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2em;
  margin: 1px;
}

hr {
  width: 85%;
}

.move-right {
  float: right;
}

/* style list item containers */
#inventory-list {
  border: 3px dotted gray;
  margin: 3px;
  padding: 3px;
  display: block;
  width: 30%;
  float: left;
}

#inventory-list ul {
  list-style: none;
}

#inventory-list .move-left {
  display: none;
}

#shopping-list {
  border: 3px solid gray;
  margin: 3px;
  padding: 3px;
  display: block;
  width: 30%;
  float: left;
}
#shopping-list ul {
  list-style: none;
}

#in-cart {
  border: 3px solid green;
  margin: 3px;
  padding: 3px;
  display: block;
  width: 30%;
  float: left;
}

#in-cart ul {
  list-style: none;
}

#in-cart li {
  color: black;
}

#in-cart .move-right {
 display: none;
}

/* style inventory and shopping list item styles */
.item-selected {
  color: rgba(196, 196, 196, 1);
}

.store-area {
  border-top: 5px;
  border-top-style: solid;
  margin-top: 3px;
  margin-bottom: 10px;
}
.store-area li {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
}

.store-area[data-category='fruits-and-veggies'] {
    border-top-color: green;
}
.store-area[data-category='fruits-and-veggies'] li {
    color: green;
    border-bottom-color: green;
}

.store-area[data-category='fish-poultry-meat'] {
    border-top-color: brown;
}
.store-area[data-category='fish-poultry-meat'] li {
    color: brown;
    border-bottom-color: brown;
}

.store-area[data-category='eggs-dairy-juice'] {
    border-top-color: blue;
}
.store-area[data-category='eggs-dairy-juice'] li {
    color: blue;
    border-bottom-color: blue;
}
